<app-mynavbar></app-mynavbar>

<h2>4rd: Cart</h2>
<div class="table-responsive-md">
    <table class="table table-striped table-inverse">
        <thead class="thead-inverse">
            <tr>
                <th>ID.</th>
                <th>who</th>
                <th>Type</th>
                <th>Name</th>
                <th>Detail</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of cart; index as i">
                <td scope="row">{{item.id}}</td>
                <td>item.who</td>
                <td>{{item.type}}</td>
                <td>{{item.name}}</td>
                <td>{{item.quantity}}</td>
                <td>{{item.price}}</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="row">
    <div class="col-md-12 text-right">
        <h4>Total : {{getsumPrice()}}</h4>
    </div>
</div>