<app-mynavbar [delcart] = "delcart"></app-mynavbar>

<br>
<h2>รถเข็นของคุณ</h2>
<div class="table-responsive-md">
    <table class="table table-striped table-inverse">
        <thead class="thead-inverse">
            <tr>
                <th>รหัสสินค้า</th>
                <th>ชนิดของสินค้า</th>
                <th>ชื่อสินค้า</th>
                <th>ราคา</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of cart; index as i">
                <td scope="row">{{item.id}}</td>
                <td>{{item.type}}</td>
                <td>{{item.name}}</td>
                <td>{{item.price}}</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="row">
    <div class="col-md-9"></div>
    <div class="col-md-3 text-right">
        <h4>รวม  : {{getsumPrice()}} บาท</h4>
    </div>
</div>
<br>
<div class="row" >
    <div class="col-md-5"></div>
        <div class="col-md-6" >
            <button  type="submit" class="btn btn-primary" routerLink="/address" routerLinkActive="active">ตกลง</button>&nbsp;&nbsp;

            <button  type="reset" class="btn btn-primary" (click) = "deleteCart()" >ลบคำสั่งซื้อ</button>&nbsp;&nbsp;
        
            <button  type="reset" class="btn btn-primary" routerLink="/products" routerLinkActive="active">ย้อนกลับ</button>
        </div>

</div>