<app-mynavbar></app-mynavbar>

<div class="container-fluid" style="margin-top:30px">           
    <div class="row">
        <div class="col-md-12">
            <h2>Products Status</h2>
            <div class="table-responsive-md">
                <table class="table table-striped table-inverse">
                    <thead class="thead-inverse">
                        <tr>
                            <th>ID.</th>
                            <th>Type</th>
                            <th>Name</th>
                            <th>Image</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td scope="row">item.id</td>
                            <td>item.type</td>
                            <td>item.name</td>
                            <td>item.img</td>
                            <td>item.status</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>