<div class="card">
    <div class="card-body">
        <h4 class="card-title">การชำระเงิน</h4>
        <div class="row">
            <div class="col-md-2">

            </div>
            <div class="col-md-8">
                <form [formGroup]="paymentForm">
                    <div class="card">
                        <div class="card-header">
                            แบบฟอร์มชำระเงิน
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3">
                                    บัญชีธนาคาร :
                                </div>
                                <div class="col-md-9">
                                    <div class="form-group">
                                      <input type="text" class="form-control" formControlName='bank'>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    หมายเลขบัญชี :
                                </div>
                                <div class="col-md-9">
                                    <div class="form-group">
                                      <input type="text" class="form-control" formControlName='accountID'>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-3">
                                    ชื่อบัญชี :
                                </div>
                                <div class="col-md-9">
                                    <div class="form-group">
                                      <input type="text" class="form-control" formControlName='accountName'>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-3"></div>
                                <div class="col-md-9" >
                                    <button type="button" class="btn btn-primary" (click)="addPayment()">ตกลง</button>&nbsp;
                                    <button type="reset" class="btn btn-danger">ล้าง</button>
                                </div>
                            </div>

                            
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-8">
            </div>
        </div>
    </div>
</div>
