<app-mynavbar></app-mynavbar>

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Update Product</h4>
        <div class="row">
            <div class="col-md-2">

            </div>
            <div class="col-md-8">
                <form [formGroup]="productForm">
                    <div class="card">
                        <div class="card-header">
                            Product Form
                        </div>
                        <div class="card-body" *ngFor="let item of products; index as i">
                            <div class="row">
                                <div class="col-md-3">
                                    Product Type:
                                </div>
                                <div class="col-md-9">
                                    <div class="form-group">
                                        <select class="form-control" id ="type">
                                          <option [value]="item">{{item.type}}</option>
                                          <option *ngFor="let item of productType" [value]="item">{{item}}</option>
                                        </select>
                                      </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    Product ID:
                                </div>
                                <div class="col-md-9">
                                    <div class="form-group">
                                        <input type="number" class="form-control" id = "id" value = "{{item.id}}" >
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    Product Name:
                                </div>
                                <div class="col-md-9">
                                    <div class="form-group">
                                      <input type="text" class="form-control" id = "name" value = "{{item.name}}">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    Product Detail:
                                </div>
                                <div class="col-md-9">
                                    <div class="form-group">
                                      <input type="text" class="form-control" id = "detail" 
                                      value = "{{item.detail}}">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    Quantity:
                                </div>
                                <div class="col-md-9">
                                    <div class="form-group">
                                      <input type="number" class="form-control" id = "quantity" value = "{{item.quantity}}">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    Price:
                                </div>
                                <div class="col-md-9">
                                    <div class="form-group">
                                      <input type="number" class="form-control" id = "price" value = "{{item.price}}">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    Image:
                                </div>
                                <div class="col-md-9">
                                    <div class="form-group">
                                      <input type="file" class="form-control-file" id ='file' (change)="onChangeImg($event)" >
                                    </div>
                                </div>
                            </div>

                            

                            <div class="row">
                                <div class="col-md-3">

                                </div>
                                <div class="col-md-9">
                                    <img *ngIf="previewLoaded" [src]="item.img" class="img-thumbnail" style="height:150px;">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <button type="button" class="btn btn-primary" (click) = "updateProduct()">Update</button>&nbsp;
                                    <button type="reset" class="btn btn-primary" (click) = "showproduct()">Show Product</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-8">

            </div>
        </div>
    </div>
</div>