<app-mynavbar></app-mynavbar>

<div class="card">
    <div class="card-body">
        <h4 class="card-title">กรอกที่อยู่</h4>
        <div class="row">
            <div class="col-md-2">

            </div>
            <div class="col-md-8">
                <form [formGroup]="addressForm">
                    <div class="card">
                        <div class="card-header">
                            ที่อยู่จัดส่งสินค้า
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3">
                                    ที่อยู่ :
                                </div>
                                <div class="col-md-9">
                                    <div class="form-group">
                                      <input type="text" class="form-control" formControlName='address'>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    ตำบล :
                                </div>
                                <div class="col-md-9">
                                    <div class="form-group">
                                      <input type="text" class="form-control" formControlName='subdistrict'>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    อำเภอ :
                                </div>
                                <div class="col-md-9">
                                    <div class="form-group">
                                      <input type="text" class="form-control" formControlName='district'>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    จังหวัด :
                                </div>
                                <div class="col-md-9">
                                    <div class="form-group">
                                      <input type="text" class="form-control" formControlName='province'>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    รหัสไปรษณีย์ :
                                </div>
                                <div class="col-md-9">
                                    <div class="form-group">
                                      <input type="text" class="form-control" formControlName='postal'>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-3"></div>
                                <div class="col-md-9" >
                                    <button type="button" class="btn btn-primary" (click)="addAddress()">ตกลง</button>&nbsp;
                                    <button type="reset" class="btn btn-danger">ล้าง</button>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-8">

            </div>
        </div>
    </div>
</div>
